<h1>Cocktail's details</h1>
<p> <%=@cocktail.name%></p>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><strong><%= dose.ingredient.name %>:</strong> <%= dose.description %></li>
  <% end %>
</ul>

<!-- Add a new dose -->
<p> Add an ingredient</p>
  <div>
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
  </div>
  <div>
    <%= f.input :description %>
  </div>
  <div>
    <%= f.association :ingredient %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end  %>

<%= link_to("Index", cocktails_path) %>
